.content {
    position: absolute;
    bottom: 0;
    right: 15vw;
    width: auto;
    height: 84px;

    background: linear-gradient(174deg, rgba(11,11,11,0.9) 52%, rgba(138,23,33,0.9) 100%, rgba(227,38,54,0.9) 100%);
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.newPlayer {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    margin-block-start: 0%;
    margin-block-end: 0%;

    color: #E9E9E9;
}

.description {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 19px; */
    
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;

    color: #E9E9E9;
}

.timer {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    margin: 11px;
    /* identical to box height */


    color: #FFFFFF;
}

.main-text {
    margin: 11px;
}
